.form-container {
    -fx-background-color: white;
    -fx-min-width: 700px;
    -fx-padding: 0px 160px;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.upload-container {
    -fx-background-color: white;
    -fx-min-width: 700px;
    -fx-background-radius: 12px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-padding: 60px 160px 10px 160px;
}

.form-title {
    -fx-font-size: 24px;
    -fx-padding: 0px 0px 10px 0px;
}

.text-field {
    -fx-padding: 6px 12px;
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    -fx-line-height: 1.5;
    -fx-text-fill: #212529;
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-color: #ced4da;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-color: #ffffff;
    -fx-transition: -fx-border-color 0.15s ease-in-out, -fx-box-shadow 0.15s ease-in-out;
}

.text-field:focused {
    -fx-text-fill: #212529;
    -fx-background-color: #ffffff;
    -fx-border-color: #86b7fe;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-outline: 0;
    -fx-box-shadow: 0 0 0 4px rgba(13, 110, 253, 0.25);
}

.fill-button {
    -fx-cursor: hand;
    -fx-outline: 0;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0d6efd;
    -fx-border-color: #0d6efd;
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-line-height: 1.5;
    -fx-alignment: center;
    -fx-border-width: 1px;
    -fx-padding: 5px 10px;
    -fx-font-size: 15px;
    -fx-border-radius: 3px;
    -fx-transition: -fx-text-fill 0.15s ease-in-out, -fx-background-color 0.15s ease-in-out, -fx-border-color 0.15s ease-in-out, -fx-box-shadow 0.15s ease-in-out;
}

.fill-button:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #0b5ed7;
    -fx-border-color: #0a58ca;
}

.outline-button {
    -fx-cursor: hand;
    -fx-outline: 0;
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-line-height: 1.5;
    -fx-text-align: center;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-padding: 6px 10px;
    -fx-font-size: 15px;
    -fx-border-radius: 3px;
    -fx-transition-property: -fx-text-fill, -fx-background-color, -fx-border-color, -fx-box-shadow;
    -fx-transition-duration: 0.15s;
    -fx-text-fill: #0d6efd;
    -fx-border-color: #0d6efd;
}

.outline-button:hover {
    -fx-text-fill: #0d6efd;
    -fx-background-color: #f5f5f5;
    -fx-border-color: #0d6efd;
}

.outline-button:selected {
    -fx-text-fill: #fff;
    -fx-background-color: #0d6efd;
    -fx-border-color: transparent;
}

.filter-button {
    -fx-cursor: hand;
    -fx-outline: 0;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0d6efd;
    -fx-border-color: #0d6efd;
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-line-height: 1.5;
    -fx-alignment: center;
    -fx-border-width: 1px;
    -fx-padding: 6px 14px;
    -fx-font-size: 20px;
    -fx-border-radius: 3px;
    -fx-transition: -fx-text-fill 0.15s ease-in-out, -fx-background-color 0.15s ease-in-out, -fx-border-color 0.15s ease-in-out, -fx-box-shadow 0.15s ease-in-out;
}

.filter-button:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #0b5ed7;
    -fx-border-color: #0a58ca;
}

.choice-box {
    -fx-padding: 1px 0px;
    -fx-text-fill: #0d6efd;
    -fx-border-color: #0d6efd;
    -fx-background-color: transparent;
    -fx-mark-color: #0d6efd;
    -fx-font-size: 15px;
    -fx-border-radius: 3px;
}

.choice-box > .label {
    -fx-text-fill: #0d6efd;
}

.check-box {
    -fx-color: white;
    -fx-border-radius: 3px;
}

.box {
    -fx-border-color: grey;
}

.check-box .text {
    -fx-fill: black;
}

.check-box:selected .box {
    -fx-background-color: #7ab9ff;
    -fx-border-color: transparent;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.graphContainer {
    -fx-background-color: white;
    -fx-padding: 10px 0px;
}

.big-metric-title {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: 700;
}

.big-metric-val {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.metric-title {
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-font-weight: 700;
}

.metric-val {
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.filter-title {
    -fx-font-size: 22px;
}

.filter-text {
    -fx-font-size: 16px;
}

.radio-button:selected .radio > .dot {
    -fx-background-color: white;
}

.radio-button:selected .radio {
    -fx-background-color: #7ab9ff;
}
