/* From uiverse.io by @Ali-Tahmazi99 */
.button {
    -fx-display: inline-block;
    -fx-width: 150px;
    -fx-height: 50px;
    -fx-border-radius: 10px;
    -fx-position: relative;
    -fx-overflow: hidden;
    -fx-transition: all 0.5s ease-in;
    -fx-z-index: 1;
}